################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scr/.vs/LoopDashboard
/scr/LoopDashboardWebsite/bin/Debug/netcoreapp3.0
/scr/LoopDashboardWebsite/obj
/scr/LoopDashboardWebsite/bin/Release/netcoreapp3.0
/scr/LoopDashboardWebsite/.config
